$color-palette: (
  "primary": (
    "base": #aaffcc,
  ),
);

@function color-palette($color, $tone: "base") {
  $map: map-get($color-palette, $color);
  @return map-get($map, $tone);
}

$color-social: (
  "social": (
    "facebook": #1778f2,
    "youtube": #f70000,
    "twitter": #1c9be9,
    "linkedin": #0a66c2,
    "rss": #eb802c,
  ),
);

@function color-social($tone) {
  @return map-get($color-social, $tone);
}

// BINDS
$c-main: color-palette("primary");
$c-font: rgba(0, 0, 0, 0.6);
$c-background: #ffffff;
$c-scroll-track: #aaaaaa;
$c-scroll-thumb: #333333;
