.page {
  &__form {
    gap: pxToRem(20);
  }

  &__width {
    width: 100%;
    max-width: pxToRem(210);
  }

  &__width2 {
    width: 100%;
    max-width: pxToRem(750);
  }

  &__color {
    * {
      color: $c-font;
    }
  }
}
