.patient {
  &__modal-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: pxToRem(240);
    height: pxToRem(120);
    padding: pxToRem(5);
    text-align: center;
    background-color: white;
    border: pxToRem(2) solid rgba(0, 0, 0, 0.6);
    border-radius: pxToRem(5);
    box-shadow: 24;
  }

  &__modal-test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: pxToRem(260);
    height: pxToRem(260);
    padding: pxToRem(5);
    text-align: center;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: pxToRem(5);
    box-shadow: 24;
  }
}
