.therapist {
  &__list {
    width: pxToRem(146);
    height: pxToRem(48);
    padding-top: pxToRem(8);
    padding-bottom: pxToRem(8);
    padding-left: pxToRem(16);
    padding-right: pxToRem(48);
  }

  &__h3 {
    font-size: pxToRem(20);
  }
}
